body {
  margin: 0;
}

.App {
  background-color: #FFFFFF;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.SidePanel {
  background-color: #404E5C;
  min-height: 100vh;
  width: 300px;

}